<input type="text" (input)="getinput($event)"  placeholder="Search by year"/>
<div class="flightName">


@if(data.length == 0){
<div>
<p>No data is available</p>
</div>
} 

@for( flight of data ; track flight.flight_number){
  
    <div class="flightdataBox">
      <a href="/detail/{{flight.flight_number}}">
       
  <img src={{flight.links.mission_patch_small}} />

  <h3>Mission Name : {{ flight.mission_name}}</h3>
  <h4>Launch Year : {{ flight.launch_year}}</h4>
  <h4>Sucessful Lunch : {{ flight.launch_success ? "Yes" : "No"}}</h4>
</a>

</div>
}

</div>

