
<div style="display: flex; height: 100vh; align-items: center; justify-content: center; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; width: 80%; margin: 2% auto; height: 80vh;">
<img src={{detailData.links.mission_patch}} style="width: 50%;">
<div class="detailData">
    
    <h1>{{detailData.mission_name}}</h1>
    <p>Launch year: {{detailData.launch_year}}</p>
    <h3>Details :</h3>
    <p>{{detailData.details}}</p>

    <h3>Rocket Details</h3>
    <p>{{detailData.rocket.rocket_id}}</p>
    <p>{{detailData.rocket.rocket_name}}</p>
    <p>{{detailData.rocket.rocket_type}}</p>
</div>
</div>